@model Tuple<PersonalInformation, IEnumerable<Skill>,IEnumerable<Education>, IEnumerable<Experience>>
@{
    ViewData["Title"] = "Privacy Policy";
}
<link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />

<section class="intro-section">
    <h2 class="section-title">Privacy Policy for Taufik Hasan's Personal Website!</h2>
    <label style="color:cornflowerblue; font-size:medium;" >1. Information We Collect:</label>
    <p style="text-align: justify;">
        We may collect personal information from visitors to this website, including but not limited to:
    </p><br />
    <label style="color:cornflowerblue; font-size:medium;">2. How We Use Your Information:</label>
    <p style="text-align: justify;">
        We may collect personal information from visitors to this website, including but not limited to:
    </p><br />
    <label style="color:cornflowerblue; font-size:medium;">3. Cookies:</label>
    <p style="text-align: justify;">
        We may collect personal information from visitors to this website, including but not limited to:
    </p><br />
    <label style="color:cornflowerblue; font-size:medium;">4. Third-Party Services:</label>
    <p style="text-align: justify;">
        We may use third-party services (e.g., website analytics, social media plugins). These third parties may have access to your personal information, 
        but they are obligated not to disclose or use it for any other purpose.
    </p><br />
    <label style="color:cornflowerblue; font-size:medium;">5. Your Rights:</label>
    <p style="text-align: justify;">
        You have the right to access, correct, or delete your personal information. If you would like to exercise these rights, please contact us at
       
    </p><br />
    <a href="#!" class="btn btn-primary btn-hire-me">HIRE I AM</a>
</section>

<br />
<br />
